<!-- 财务数据 -->
<div style="border-bottom:1px solid #ccc">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">财务总数据</label>
</div>
<!-- 财务数据end -->
<!-- 财务资金人数 -->
 <label  class="text-danger nieyueText">财务资金分析</label>
  <div class=" comment-input-margin" >
  积分余额大于或等于<select style="width:180px;height:50px;" ng-change="initFinanceCount(financeMoneyModel)"  ng-model="financeMoneyModel" name="financeMoneyModel"  ng-options="fcm for fcm in fcms">
  </select>
  人数：<span ng-bind="financeCountByMoney"></span>
  </div>
<!-- 财务资金人数end -->

<!-- 财务数据 -->
<div style="margin:10px;">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">财务总数据</label>
</div>
<!-- 财务数据end -->
<!-- 财务数据列表 -->
 <div style="width:100%">
			<table class="table table-bordered" style="width:100%;background-color: #fff;">
			<tr>
			  <th>总余额</th>
			  <th>总充值金额</th>
			  <th>总消费金额</th>
			  <th>总提现金额</th>
			  <th>总自身收益</th>
			  <th>总合伙人收益</th>
			  <th>总基准收益（赠送）</th>
			</tr>
			<tr >
			  <td class="text-danger">
			  ￥<span ng-bind="financeData.money|bigDouble"></span>
			  </td>
			  <td class="text-danger">
			  ￥<span ng-bind="financeData.recharge|bigDouble"></span>
			  </td>
			  <td class="text-danger">
			  ￥<span ng-bind="financeData.consume|bigDouble"></span>
			  </td>
			  <td class="text-danger">
			  ￥<span ng-bind="financeData.withdrawals|bigDouble"></span>
			  </td>
			 <td class="text-danger">
			  ￥<span ng-bind="financeData.selfProfit|bigDouble"></span>
			  </td> 
			 <td class="text-danger">
			 ￥ <span ng-bind="financeData.partnerProfit|bigDouble"></span>
			  </td> 
			 <td class="text-danger">
			 ￥ <span ng-bind="financeData.baseProfit|bigDouble"></span>
			  </td> 
			</table>
		</div>
<!-- 财务数据列表end -->

