<!-- 充值记录列表选择 -->
<div style="margin:10px;">
<label  class="text-danger nieyueText" style="font-size:30px;color:#ccc;">充值记录列表</label>
</div>
<!-- 充值记录列表选择end -->
<!-- 充值记录列表 -->
		<div style="width:100%" class="tableWrap">
			<table class="table table-bordered" style="width:100%">
			<tr>
			  <th>序号</th>
			  <th>充值记录ID</th>
			  <th>类型</th>
			  <th>充值真钱</th>
			  <th>赠送金币</th>
			  <th>状态</th>
			  <th>创建时间</th>
			  <th>更新时间</th>
			  <!-- <th >操作</th>  -->
			</tr>
			<tr ng-repeat="rechargeRecord in rechargeRecordList.list" >
			  <td >
			  <span ng-bind="(currentPage-1)*pageNumber+$index+1"></span>
			  </td>
			  <td >
			  <span ng-bind="rechargeRecord.rechargeRecordId"></span>
			  </td>
			  <td >
			  <span ng-bind="rechargeType.value" ng-repeat="rechargeType in rechargeTypes" ng-if="rechargeType.id==rechargeRecord.type"></span>
			  </td>
			  <td >
			  真钱：<span class="text-danger" ng-bind="rechargeRecord.rechargeMoney"></span>
			  </td>
			  <td >
			  金币：<span class="text-danger" ng-bind="rechargeRecord.giveMoney"></span>
			  </td>
			  <td >
			  <span ng-style="{color:rechargeRecord.status==1?'green':'red'}"  ng-bind="rechargeRecord.status==1?'成功':'失败'"></span>
			  </td>
			  <td >
			  <span ng-bind="rechargeRecord.createDate"></span>
			  </td>
			  <td ng-bind="rechargeRecord.updateDate"></td>
			<!--  <td >
			  <button class=" btn btn-warning" ng-click="updateRechargeRecord(rechargeRecord)">修改</button>
			  <button class=" btn btn-danger" ng-click="delRechargeRecord(rechargeRecord)">删除</button>
			  </td> -->
			</tr>
			</table>
		</div>
<!-- 充值记录列表end -->
	<!-- 页面列表end -->
<!-- 加载更多end -->
   <div >
    <ul class="pagination " >
    <li><a ng-click="toPage('首页')" >首页</a></li>
    <li class="previous" ><a ng-click="toPage('previous')" >&larr;</a></li>

    <li ng-repeat="currentPageNumber in showPageNumberArray"><a ng-click="toPage(currentPageNumber)" ng-class="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a ng-click="toPage('next')" >&rarr;</a></li>
    <li><a ng-click="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总数：{{totalNumber}}</span></li>
    <li>
    <select style="width:100px;height:34px;" ng-model="currentPage" ng-change="toPage(currentPage)"   ng-options="currentPage as currentPage for currentPage in showAllPageNumberArray"> 
    </select>
    </li>
    </ul>
   </div>
<!--  加载更多end -->
